/*my changes*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.wrapper{
    width: 80% ;
    margin: 0 auto;
}

header{
    display:flex;
    flex-flow: row nowrap;
    
    
}
.leftheader {
    flex-basis: 40%;
    text-align: right;/*MOVED the img to the right*/
    padding-right: 0.5rem;
}

.rightheader{
    flex-basis: 60% ;
    margin-top:3.75rem  ;
    padding-left: 0.5rem;

}
.rightheader h1 {
    margin: 0 auto;
    color:#DA0090;
    font-size:3em;
}
.rightheader p {
    margin-top:-0.5rem;
    
}
.rightheader a{
    flex-basis: 60% ;
    margin-top:3.75rem  ;
    padding-left: 0.5rem;

}

.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px #A51F10 solid;
}

section{
    border-bottom:1px #DA0090 solid;
    margin-bottom:0.3rem ;

   
}
nav{
    border-top:1px green solid;
    border-bottom: 1px red solid;
    margin-top:0.05rem;
    margin-bottom:1rem;
    font-size:medium;
}


nav ul{
    
    list-style-type: none;
    text-align: center;
    margin:0;/*makten the spaces between the nav and the 2 borders*/
    padding:0;/*makten the spaces between the nav and the 2 borders*/
}
nav li{
    display:flex;
    justify-content: space-evenly;
    display:inline-block;
   

}
nav a{
    color:gray;
    display:block;
    padding: 0.5rem 1rem;/*the sizes of the boxes in the nav*/

}
nav a:hover{
    background-color: black;
    color:green;
    font-weight: bold;
}

footer ul{
    margin:0;
    padding:0;
    list-style-type: none;

}
footer li{
    display:inline-block ;
}
article img{

    float: left;
    margin:0 1rem 1rem 0;
    border-radius: 1rem;/*THE CORNERS*/
}

article:after{
    content: "";
    display: table;
    clear: both;
  }

